*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: antiquewhite;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 30px; 
    font-weight: 700;
    color: rgb(78, 52, 4);
}

.menu-bar {
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu-bar a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.menu-bar a:hover {
    color: rgb(66, 45, 7);
    text-decoration: underline;
    transition: 0.3s;
}
.sec1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
    gap: 40px;
    flex-direction: row-reverse;}


.sec-1-1 img {
    width: 450px;
    border-radius: 100%;
}
.sec-1-2 span {
    color: rgb(74, 50, 4);
    font-size: 20px;
    font-weight: 600;
}

.sec-1-2 h1 {
    font-size: 45px;
    margin: 10px 0;
}

.job {
    font-size: 22px;
    font-weight: 600;
}

.sec-1-2 p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
}

.btns button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background: rgb(122, 92, 37);
    color: white;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 5px;
}

.btns button:hover {
    background: rgb(77, 44, 3);
}


.about, .skills, .projects, .contact {
    padding: 60px 100px;
}

h2 {
    font-size: 35px;
    color: rgb(84, 56, 4);
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
}
.skills {
    padding: 60px 100px;
}

.skill {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill p {
    background-color: antiquewhite;
    color: rgb(84, 56, 4);
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: default;
    transition: 0.3s;
}

.skill p:hover {
    background-color: rgb(84, 56, 4);
    color: white;
    transform: scale(1.05);
}



.project-card {
    background: #ede1e9;
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid rgb(66, 44, 4);
    font-size: 18px;
}

.contact p {
    font-size: 20px;
    line-height: 1.8;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url("images/swathibg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 filter: blur(8px);
    z-index: -1;
}

